*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* with flex */

section {
    display: flex;
    max-width: 1100px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;    
}

.flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 10%;   
}

.left .box {
    width: 500px;
    height: 320px;
    background: rgb(235, 85, 52);
    margin: 10px;
    padding-top: 60px;
    font-size: 1.5em;
}

.right .box {
  
    width: 500px;
    height: 300px;
    background: rgb(235, 85, 52);
    margin: 10px;
    padding-top: 60px;
    font-size: 1.5em;
}

.row {
    display: flex;
}

.right .box:nth-of-type(1) {
    height: 150px;    
}

.right .row .box:nth-of-type(1){
    width: 46%;
}

.right .row .box:nth-of-type(2){
    width: 46%;
    height: 150px; 
}

/* with grid */

.gr-box {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: rgb(175, 216, 240);
    color: black;   
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    max-width: 1040px;
    gap: 20px;
    padding: 10px;
}

.grid .gr-box:nth-of-type(1){
    grid-column: span 2;
    grid-row: span 2;
    padding-bottom: 150px;
}

.grid .gr-box:nth-of-type(2){
    grid-column: span 2
}

.grid .gr-box:nth-of-type(3){
    padding-top: 30px;
}

.grid .gr-box:nth-of-type(4){
    padding-top: 30px;
}